<template>
    <div id="body-div">
        <navbar-header></navbar-header>
        <div class="body-div">
            <transition name="fade">
                <router-view class="router-view"></router-view>
            </transition>
        </div>
    </div>
</template>

<script>
import Navbar from './components/Navbar.vue';

export default {
    name: 'app',
    components: {
        'navbar-header': Navbar
    }
}
</script>

<style>
body {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/mccube.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.body-div {
    height: 100%;
}

@media (min-width: 450px) {
    .body-div {
        padding-top: 5rem;
        padding-bottom: calc(5rem - 56px);
    }
}

@media (max-width: 450px) {
    .body-div {
        padding-top: 10rem;
        padding-bottom: calc(10rem - 56px);
    }
}
</style>
