$font-path-url: "../fonts/";

@font-face {
    font-family: "Minecraft";
    src: url("#{$font-path-url}Minecrafter.Alt.woff2") format("woff2"),
    url("#{$font-path-url}Minecrafter.Alt.woff") format("woff"),
    url("#{$font-path-url}Minecrafter.Alt.ttf") format("truetype");
}
