// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;


// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'fonts';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
