@font-face {
    font-family: "Minecraft";
    src: url("fonts/Minecrafter.Alt.woff2") format("woff2"),
         url("fonts/Minecrafter.Alt.woff") format("woff"),
         url("fonts/Minecrafter.Alt.ttf") format("truetype");
}

.bhe {
    color: rgb(38, 72, 184);
    font-family: 'Permanent Marker',  Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline;
}

.minecraft {
    color: #999999;
    font-family: "Minecraft";
    font-weight: normal;
    font-style: normal;
    display: inline;
}

/*
body {
    background-image: url("images/15153_minecraft.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#app {
    opacity: 0.5;
    background: #555;
    min-height: 200px;
    margin-top: 
}*/

.minh {
  min-height: 100vh;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}

hr.light {
  border-color: #fff;
}

a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
    background:
      linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.8)
        ),
      url(images/dirt.jpg),
      rgb(8, 187, 113);
    color: #5F5;
}

.bg-grey {
    background-color: #515155 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
    padding: 8rem 0;
}

.section-heading {
    margin-top: 0;
}

::-moz-selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

header.intro {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("images/15153_minecraft.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
header.intro .container {
    background: rgba(24, 24, 24, 0.226);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 25px;
    box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}

header.intro hr {
    margin-top: 30px;
    margin-bottom: 30px;
}
  
header.intro h1 {
    font-size: 2rem;
}
  
header.intro p {
    font-weight: 300;
}
  
@media (min-width: 768px) {
    header.intro p {
        font-size: 1.15rem;
    }
}
  
  @media (min-width: 992px) {
    header.intro {
      height: 100vh;
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0;
    }
    header.intro h1 {
      font-size: 3rem;
    }
  }
  
  @media (min-width: 1200px) {
    header.intro h1 {
      font-size: 4rem;
    }
  }
  
  .service-box {
    max-width: 400px;
  }
  
  
  /*.text-primary {
    color: #F05F40 !important;
  }*/
  
  .btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }
  
  .btn-xl {
    padding: 1rem 2rem;
  }
  
.btn-primary {
    transition: background-color 0.5s ease;
    background-color: rgba(64, 240, 88, 0.89);
    border-color: #F05F40;
}
  
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: rgb(0, 179, 24) !important;
  }
  
  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
  }
.statusdot {
  height: 1.0rem;
  min-width: 1.0rem;
  font-size: 0.7rem;
  line-height: 1rem;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  color: black;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}
.offline {
  background-color: #e00 !important;
}
.online {
  background-color: #0D0 !important;
}

