<template>
<div class="current-page text-center text-white d-flex minh">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1>Craft with Friends</h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Play on the BlackHawk minecraft server network!</p>
                <h3>Featured Servers:</h3>
                <featured-servers></featured-servers>
                <router-link class="btn btn-primary btn-xl" :to="{ name:'req' }">Check the requirements</router-link>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import FeaturedServers from '../components/FeaturedServers';

export default {
    name: 'HomePage',
    components: {
        'featured-servers': FeaturedServers 
    }
}
</script>    

<style scoped>
.current-page .container {
    background: rgba(24, 24, 24, 0.226);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 25px;
    box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}
h1 {
    font-family: 'Minecraft','Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 2.5rem;
    color: #33ff00;
    font-weight: normal;
    font-style: normal;
}
hr {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 50px;
    border-width: 3px;
    border-color: #F05F40;
}
.text-faded {
    color: rgba(255, 255, 255, 0.7);
}
</style>
