<template>
<div class="current-page text-center text-white d-flex minh">
    <div class="container my-auto">
        <h1>Login</h1>
        <hr>
        <div class="alert alert-danger" v-if="error">
            <p>There was an error, unable to sign in with these credentials.</p>
        </div>
        <b-form autocompete="off" @submit.prevent="login" method="post">
            <b-form-group id="usernameGroup">
                <b-form-input id="usernameInput" type="text" v-model="form.username" required placeholder="Username"></b-form-input>
            </b-form-group>
            <b-form-group id="passwordGroup">
                <b-form-input id="passwordInput" type="password" v-model="form.pswd" required placeholder="Password"></b-form-input>
            </b-form-group>
            <b-button type="submit" variant="primary">Login</b-button>
        </b-form>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            form: {
                username: '',
                pswd: ''
            }
        };
    },
    methods: {
        onSubmit (e) {
            e.preventDefault();
        }
    }
}
</script>
