<template>
<div class="current-page text-center text-white d-flex minh">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1>Requirements & Instructions</h1>
            </div>
        </div>
        <hr>
        <div class="row">    
            <div class="col-lg-8 mx-auto">
                <h3>Vanilla and Spigot-based servers</h3>
                <p>No mods required! Just connect to gaming.blackhawkelectronics.com and play!</p>
                <p class="text-muted">Note: If you were on a forge server, you must go back to the lobby to be able to connect with an un-modded client.</p>
            </div>
        </div>
        <hr>
        <div class="row">    
            <div class="col-lg-8 mx-auto">
                <h3>Forge-based Servers</h3>
                <p>For modded servers, you will have to download the modpack applicable for that server.</p>
                <ol>
                    <li>Download Minecraft, run the desired version at least once</li>
                    <li>Download the Minecraft Forge installer from <a href="https://files.minecraftforge.net">their site</a>.
                    <li>Download the appropriate Mod Manager from the <router-link :to="{ name: 'downloads' }">Downloads Page</router-link></li>
                    <li>In the Minecraft launcher, create a profile that points to the folder that you put the mods in.</li>
                    <li>Play</li>
                </ol>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
  name: 'InstructionsPage'
}
</script>    

<style scoped>
.current-page .container {
    background: rgba(24, 24, 24, 0.226);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 25px;
    box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}
h1 {
    font-family: 'Minecraft','Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 2.5rem;
    color: #33ff00;
    font-weight: normal;
    font-style: normal;
}
hr {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 50px;
    border-width: 3px;
    border-color: #F05F40;
}
.text-faded {
    color: rgba(255, 255, 255, 0.7);
}
</style>
