<template>
    <table class="mx-auto">
        <tr v-for="(server,index) in servers" :key="server.id">
            <td><status-badge :server="server.id" :initial="server.latest_status" /></td>
            <td class="servername">
                <router-link :to="'/server/' + server.id">
                    {{server.name}}
                </router-link>
            </td>
            <td class="serverdesc">{{server.description}}</td>
        </tr>
    </table>
</template>

<script>
import StatusBadge from './StatusBadge';

export default {
    name: 'FeaturedServers',
    components: {
        'status-badge': StatusBadge 
    },
    data() {
        return {
            servers: {}
        };
    },
    created() {
        axios.get('/api/v1/server/featured').then(response => (this.servers = response.data.data));
    }
}
</script>

<style scoped>
.servername {
    text-align: left;
}
.serverdesc {
    text-align: left;
}
</style>
