<template>
    <b-navbar toggleable="md" type="dark" fixed>
        <b-navbar-toggle target="navbar"></b-navbar-toggle>
        <b-navbar-brand :to="{ name: 'home' }"><div class="bhe">BlackHawk</div> <div class="minecraft">Minecraft</div></b-navbar-brand>

        <b-collapse is-nav id="navbar">
            <b-navbar-nav>
                <b-nav-item :to="{ name: 'home' }">Home</b-nav-item>
                <b-nav-item :to="{ name: 'req' }">Requirements</b-nav-item>
                <!--li class="nav-item"><a class="nav-link js-scroll-trigger" href="#instructions">Instructions</a></li-->
            </b-navbar-nav>
            <b-navbar-nav class="ml-auto">
                <b-nav-item :to="{ name: 'login' }">Login</b-nav-item>
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
</template>

<style>
.bhe {
    color: rgb(38, 72, 184);
    font-family: 'Permanent Marker',  Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline;
    text-shadow: 1px 1px #aabaee;
    font-size: 1.5em;
    margin-right: 0.25em;
}

.minecraft {
    color: #999999;
    font-family: "Minecraft";
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    display: inline;
}
</style>
