<template>
    <div class="statusdot" :class="{ online: online, offline: offline, loading: loading, nostat: !(online||offline||loading) }">{{players}}</div>
</template>

<script>
import VueTimers from 'vue-timers/mixin';

export default {
    name: 'StatusDot',
    mixins: [VueTimers],
    props: {
        server: {
            type: Number,
            required: true
        },
        initial: {
            type: Object
        }
    },
    data() {
        return {
            online:  false,
            offline: false,
            loading: true,
            players: ""
        }
    },
    mounted() {
        if(this.initial) {
            this.updateStatus(this.initial);
            this.loading = false;
        }
    },
    methods: {
        getStatus() {
            axios.get('/api/v1/server/'+this.server+'/latest').then(response => {
                this.loading = false;
                const data = response.data.data;
                this.updateStatus(data);
            },() => { 
                this.loading = false; 
                this.offline = false;
                this.online = false;
                this.players = "-";
            });
        },
        updateStatus(data) {
            if(data.online === true) {
                this.online = true;
                this.offline = false;
                this.players = data.count;
            } else if (data.online === false) {
                this.online = false
                this.offline = true;
                this.players = "";
            } else {
                this.offline = false;
                this.online = false;
                this.players = "";
            }
        }
    },
    timers: {
        getStatus: { time: 30000, autostart: true, immediate: true, repeat: true }
    }
}
</script>

<style scoped>
.statusdot {
  height: 1.0rem;
  min-width: 1.0rem;
  font-size: 0.7rem;
  line-height: 1rem;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  color: black;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}
.offline {
  background-color: #e00;
}
.online {
  background-color: #0D0;
}
.nostat {
  background-color: #AAA;
}
.loading {
  background-color: #DD0;
  animation: breathe;
  animation-duration: 1.25s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes breathe{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
 }
}
</style>
