<template>
<div class="current-page text-center text-white d-flex minh">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div v-if="loading">
                    Loading...
                </div>
                <div v-else>
                    <h1>{{ server.name }}</h1>
                    <div>
                        {{ server.description }}
                    </div>
                    <div>
                        <h2>Connection Instructions</h2>
                        <div>
                            <b>Status:</b> <StatusBadge :server="server.id" :initial="server.latest_status"></StatusBadge>
                        </div>
                        <b>Public Hostname:</b>
                        {{ server.externalhostname }}<span v-if="server.externalport">:{{ server.externalport }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import StatusBadge from '../../components/StatusBadge';

export default {
    components: {
        StatusBadge  
    },
    data() {
        return {
            loading: true,
            server: {},
        };
    },
    mounted() {
        axios.get('/api/v1/server/' + this.$route.params.server_id)
        .then(response => {
            this.server = response.data.data;
            this.loading = false;
        });
    }
}
</script>

<style scoped>
.current-page .container {
    background: rgba(24, 24, 24, 0.226);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 25px;
    box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}
h1 {
    font-family: 'Minecraft','Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 2.5rem;
    color: #33ff00;
    font-weight: normal;
    font-style: normal;
}
hr {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 50px;
    border-width: 3px;
    border-color: #F05F40;
}
.text-faded {
    color: rgba(255, 255, 255, 0.7);
}
</style>